@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  font-family: oswald;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle, #fff, #bbb);
}

.header {
  margin: auto;
  margin-top: 70px;
  text-align: center;
}

.input-container {
  display: inline-block;
}

.hero-searcher {
  margin: 10px;
}

@media screen and (max-width: 402px) {
  .btn {
    margin-top: 15px;
  }
}

@media screen and (min-width: 992px) {
  .link-light {
    transition: 0.5s;
  }

  .me-auto {
    position: absolute;
  }

  .link-light:hover {
    font-size: 22px;
  }
}

.form {
  display: inline-block;
  flex: 1;
  padding: 10px;
}

.form-item {
  display: inline-block;
  padding: 5px;
}

.input {
  min-width: 250px;
}

.error {
  position: absolute;
}

.error-text {
  color: red;
}

.login-img {
  display: inline-block;
}

.login-img img {
  height: 300px;
}

.label-2 {
  margin-top: 25px;
}

.login-error {
  display: block;
  color: red;
  margin-top: 20px;
  margin-left: 10px;
}

.api-error {
  position: absolute;
  color: red;
}

.submit-button {
  margin-top: 15px;
  display: block;
  display: flex;
}

.list-group-item {
  text-align: left;
  display: flex;
}

.map-container {
  display: flex;
  justify-content: space-evenly;
}

.map-item {
  text-align: center;
}

.img-fluid {
  max-width: 250px;
  max-height: 330px;
}

.link-container {
  margin-right: 100px;
  bottom: 10px;
}

.link-light {
  text-decoration: none;
}

.icon {
  height: 40px;
  margin-right: 20px;
}
